form {
	display: flex;
	flex-direction: column;
	min-width: 280px;
	padding-bottom: 20px;
	label {
		display: block;
		margin-top: 1rem;
		margin-bottom: 10px;
	}

	input {
		max-height: 20px;
		outline: none;
		background-color: #fff;
		border: 1px solid #d2d6dc;
		border-radius: 5px;

		font-size: 14px;
		line-height: 1.45;
		appearance: none;

		&:focus {
			box-shadow: 0 0 0 3px rgba(149, 189, 243, 0.5);
			border-color: #9bc2f7;
		}
	}

	button {
		background-color: #f6f6f6;
		border: 1px solid #d2d6dc;
		border-radius: 5px;
		min-height: 40px;

		&:hover {
			cursor: pointer; 
			background-color: #e7e7e7;
			
		}
	}

	.react-datepicker-wrapper:nth-child(1) {
		margin-left: -10px;
	}

	.container-two {
		display: flex;
		flex-direction: row;
		justify-content: space-around;

		input:nth-child(2) {
			margin-left: 10px;
		}
	}

	.address {
		display: flex;
		flex-direction: column;
		margin-top: 10px;
	}

	.dropdown {
		display: block;
		border: 1px solid #c5c5c5;
		border-radius: 2px;
		margin-bottom: 10px;
		cursor: pointer;

		.dropdown-control {
			background-color: #f6f6f6;
			display: flex;
			justify-content: space-between;
			padding: 5px;
			padding-left: 15px;
			padding-right: 15px;
			
			&:hover {
				background-color: #e7e7e7;
			}
		}

		/** Dropdown-option is a internal class about <Dropdown/> Component to target <options> **/
		.Dropdown-option {
			padding: 5px;
			background-color: white;

			&:hover {
				background-color: #3298FD;
				color: white;
			}
		}

	}


}

.modal-line {
	display: flex;
	justify-content: center;
	padding: 5px;

	&:nth-child(1) {
		border-bottom: 2px solid rgb(233, 233, 233);
		margin-bottom: 20px;
	}

	&:nth-child(2) {
		border-top: 2px solid rgb(233, 233, 233);
		margin-top: 20px;
	}

}

.modalStyle {
	background-color: red;
}